<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>All users</h1>
<table th:border="1" th:cellpadding="5">
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:utext="${user.getId()}">Id</td>
        <td th:utext="${user.getFirstName()}">FirstName</td>
        <td th:utext="${user.getLastName()}">LastName</td>
        <td th:utext="${user.getEmail()}">Email</td>
        <td>
            <form th:method="GET" th:action="@{/change}" th:object="${user}">
                <input type="hidden" name="id" th:value="${user.id}">
                <button type="submit">Change</button>
            </form>
        </td>
        <td>
            <form th:method="DELETE" th:action="@{/deleteUser}">
                <input type="hidden" name="id" th:value="${user.id}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
<label>
    <input th:type="button" value="Add"
           onclick="window.location.href='newUser'"/>
</label>
</body>
</html>