<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1>New User Data</h1>
<br>
<form th:method="POST" th:action="@{/}" th:object="${user}">
    <label for="name">FirstName</label>
    <input  type="text" th:field="*{firstName}" id="name">
    <br><br>
    <label for="lastName">LastName</label>
    <input  type="text" th:field="*{lastName}" id="lastName">
    <br><br>
    <label for="email">Email</label>
    <input  type="text" th:field="*{email}" id="email">
    <br><br>
    <input type="submit" value="Add new user"/>
</form>
</body>
</html>